/* 页面规范化 */
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}
.clear {
	clear: both;
}

/* html */
html {
	width: 100%;
	height: 100%;
}
body {
	background-color: #eee;
	width: 100%;
	height: 100%;
}

/* header */
.header {
	width: 100%;
	height: 80px;
	background-color: #000;
}

.header .header-nav {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}
.header .header-nav a {
	display: block;
	padding-left: 30px;
	padding-right: 30px;
	height: 100%;
	color: #fff;
	font-size: 20px;
	float: left; 
	line-height: 80px;
}
.header .header-nav a:hover {
	color: #000;
	background-color: #C3C3C3;
}
.header .header-nav .header-nav-in {
	color: #000;
	background-color: #C3C3C3;
}

/* main */
.main {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
}
.main ul li {
	width: 23%;
	background-color: #fff;
	margin-bottom: 50px;
	float: left;
	margin-right: 2%;
	border: none;
	border-radius: 5px;
}
.main ul li .name {
	display: block;
	width: 100%;
	height: 50px;
	overflow: hidden;
	line-height: 50px;
	text-align: center;
	color: #3F48CC;
	font-size: 20px;
}
.main ul li .name:hover {
	text-decoration: underline;
}
.main ul li .info {
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #aaa;
	font-size: 12px;
	overflow: hidden;
}
.main ul li .info .division {
	color: #E3E3E3;
	margin-left: 15px;
	margin-right: 15px;
}
.main ul li .desc {
	height: 40px;
	overflow: auto;
	color: #333;
	font-size: 14px;
	padding: 10px;
}

/* recommend */
.recommend-bg {
	z-index: 9998;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.4;
	filter:alpha(opacity=40);
	display: none;
}
.recommend {
	z-index:9999;
	position:fixed;
	top:50%;
	left:50%;
	width:660px;
	margin:-180px 0 0 -330px;
	border-radius:5px;
	/*border:solid 2px #666;*/
	background-color:#fff;
	/*box-shadow: 0 0 10px #666;*/
	display: none;
}

.data-load-tip {
	z-index:19999;
	position:fixed;
	top:50%;
	left:50%;
	width: 150px;
	height: 100px;
	margin: -50px 0 0 -75px;
	border-radius:5px;
	/*border:solid 2px #666;*/
	background-color: rgba(0, 0, 0, 0.6);
	/*box-shadow: 0 0 10px #666;*/
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 100px;
	display: none;
}

.recommend .recommend-title {
	width: 100%;
	height: 36px;
	border-bottom: 1px solid #eee;
	padding-top: 14px;
}
.recommend .recommend-title .close {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 22px;
	float: right;
	border: 1px solid #aaa;
	text-align: center;
	left: 20px;
	font-size: 14px;
}
.recommend .recommend-title .close:hover {
	font-size: 20px;
	line-height: 18px;
}
.recommend .recommend-title h3 {
	padding-left: 20px;
}
.recommend .recommend-title h3 .import-a {
	font-size: 12px;
	margin-left: 20px;
}
.recommend .form {
	width: 80%;
	margin: 0 auto;
}
.recommend .form .notice {
	color: red;
	font-size: 12px;
}
.recommend .form .input-text {
	width: 100%;
	height: 35px;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
	outline: none;
	color: #333;
	background-color: #eee;
}

.recommend .form-import {
	width: 80%;
	margin: 0 auto;
	display: none;
}
.recommend .form-import .notice {
	color: red;
	font-size: 12px;
}
.recommend .form-import .div-input, .recommend .form-import .input-text  {
	width: 100%;
	height: 35px;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
	outline: none;
	color: #333;
	background-color: #eee;
	line-height: 35px;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #2DBE93;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #2DBE93;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #2DBE93;
}

.explain {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 12px;
	color: #aaa;
	margin-bottom: 20px;
}

/* footer */
.footer {
	width: 80%;
	height: 50px;
	margin-top: 20px;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	color: #aaa;
}
.footer a {
	margin-left: 10px;
}
.footer a:hover {
	text-decoration: underline;
}